[submodule "cnn_node"]
	path = implementation/cnn_node
	url = https://github.com/wickipedia/cnn_node
[submodule "dt-car-interface"]
	path = implementation/dt-car-interface
	url = https://github.com/wickipedia/dt-car-interface
[submodule "dt-core"]
	path = implementation/dt-core
	url = https://github.com/wickipedia/dt-core
